<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>0.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>0fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[撇嘴]</string>
		<key>gif</key>
		<string>1.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[撇嘴]</string>
		<key>png</key>
		<string>1fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[色]</string>
		<key>gif</key>
		<string>2.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[色]</string>
		<key>png</key>
		<string>2fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[发呆]</string>
		<key>gif</key>
		<string>3.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[发呆]</string>
		<key>png</key>
		<string>3fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[酷]</string>
		<key>gif</key>
		<string>4.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[酷]</string>
		<key>png</key>
		<string>4fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>5.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>5fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>6.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>6fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>7.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>7fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>8.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>8fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>9.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>9fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>10.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>10fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>11.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>11fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>12.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>12fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>13.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>13fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>14.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>14fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>15.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>15fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>16.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>16fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>17.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>17fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>18.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>18fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>19.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>19fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>20.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>20fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>21.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>21fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>22.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>22fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>23.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>23fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>24.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>24fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>25.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>25fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>26.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>26fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>27.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>28fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>28.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>28fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>29.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>29fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>30.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>30fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>31.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>31fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>32.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>32fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>33.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>33fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>34.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>34fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>35.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>35fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>36.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>36fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>37.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>37fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>38.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>38fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>39.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>39fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>40.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>40fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>41.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>41fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>42.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>42fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>43.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>43fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>44.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>44fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>45.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>45fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[惊讶]</string>
		<key>gif</key>
		<string>46.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>46fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[猫]</string>
		<key>gif</key>
		<string>47.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[猫]</string>
		<key>png</key>
		<string>47fix.bmp</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[狗]</string>
		<key>gif</key>
		<string>48.png</string>
		<key>type</key>
		<integer>5</integer>
		<key>chs</key>
		<string>[狗]</string>
		<key>png</key>
		<string>48fix.bmp</string>
	</dict>
</array>
</plist>
